@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  color: #2f3640;
  font-family: 'Nunito', sans-serif;
  background-color: white;
}
