.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5% auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

  button {
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: 0.5s all;
    font-weight: 600;
  }

  button:hover {
    filter: brightness(80%);
  }
}

.AccountInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .InfoFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    height: auto;
    width: 20%;
    border-radius: 50%;
  }
}
